﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form method="post">
    <label>Name:</label>
    <input name="name" />
    <br />
    <label>Description:</label>
    <input name="description" />
    <br />
    <label>Image:</label>
    <input name="ImageURL" id="ImageURL" type="hidden" />
    <input id="imageUpload" name="Image" type="file" />
    <img id="categoryImage" />
    <br />
    <button type="submit">Save</button>
</form>
<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
    

    $.ajax({
        type: 'Post',
        url: '/shared/UploadImage',
        dataType:'json',
        data: formData,
        contentType:false,
        processData:false

    })
       .done(function (response) {
           console.log(response);
           if(response.Success)
           {
               $("#ImageURL").val(response.ImageURL);
               $("#categoryImage").attr("src", response.ImageURL);
           }



       })
       .fail(function (XMLHttpRequest, textstatus, errorThrown) {
           alert("Failed");
       });
    });
</script>