﻿

@model smarTees.Entities.categories
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<h1>Are u sure u want to delete?</h1>

<form method="post">

<input type="hidden" name="ID" value="@Model.ID" />
    
    <br />
    <button type="submit">Yes delete</button>
</form>
<a href="/Index">Cancel</a>