﻿@model smarTees.Entities.categories
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>
<form method="post">
    <input type="hidden" value="@Model.ID" />
    <label>Name:</label>
    <input name="name"  value="@Model.name"/>
    <br />
    <label>Description:</label>
    <input name="description" value="@Model.description"/>
    <br />
    <button type="submit">Save</button>
</form>