﻿@model List<categories>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form id="createProduct" method="post">
    <label>category</label>
    <select name="CategoryID">
        @foreach (var category in Model) {
        <option value="@category.ID">@category.name</option>
        }
    </select>
    <label>Name:</label>
    <input name="name" />
    <br />
    <label>Description:</label>
    <input name="description" />
    <br />
    <label>Price:</label>
    <input name="price" />
    <br />
    <button id="saveBtn" type="button">Save</button>
</form>
<script>

    //function script1() {
    //    var searchT = document.getElementById("searchTxt").value;
    // alert(searchT);
    $("#saveBtn").click(function () {
        
        $.ajax({
            type: 'Post',
            url: '/product/Create',
            data: $("#createProduct").serialize()

        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");



        })
        .fail(function (XMLHttpRequest, textstatus, errorThrown) {
            alert("Failed");
        });
    });
</script>