﻿@model product
@{
    ViewBag.Title = "Edit";
}


<form id="editProduct" >
    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Name:</label>
    <input name="name" value="@Model.name" />
    <br />
    <label>Description:</label>
    <input name="description" value="@Model.description" />
    <br />
    <label>Price:</label>
    <input name="price" value="@Model.price" />
    <br />
    <button id="updateBtn" type="button">Update</button>
</form>
<script>

    //function script1() {
    //    var searchT = document.getElementById("searchTxt").value;
    // alert(searchT);
    $("#updateBtn").click(function () {

        $.ajax({
            type: 'Post',
            url: '/product/Edit',
            data: $("#editProduct").serialize()

        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");



        })
        .fail(function (XMLHttpRequest, textstatus, errorThrown) {
            alert("Failed");
        });
    });
</script>