﻿@model List<product>
@{
    ViewBag.Title = "productTable";
}



<form method="post" >
    <input name="Search" id="searchTxt" />
    <button type="button" id="searchBtn" >Search</button>
    <button type="button" id="newBtn">New</button>
</form>
<div >
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>category</td>
                <td>price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.name</td>
                    <td>-</td>
                    <td>@product.price</td>
                    <td>
                        <button class="editBtn" dataID="@product.ID">Edit</button>
                        <button class="deleteBtn" dataID="@product.ID">Delete</button>
                    </td>



                </tr>
            }
        </tbody>

    </table>

</div>

<script>

    //function script1() {
    //    var searchT = document.getElementById("searchTxt").value;
    // alert(searchT);
    $("#searchBtn").click(function () {
        var searchT = $("#searchTxt").val();
        $.ajax({
            url: '/product/productTable',
            data: {
                search: searchT
            }

        })
        .done(function (response) {
            $("#tableContainer").html(response);


        })
        .fail(function (XMLHttpRequest, textstatus, errorThrown) {
            alert("Failed");
        });
    });

    $("#newBtn").click(function () {
        //var searchT = $("#searchTxt").val();
        $.ajax({
            url: '/product/Create',
           

        })
        .done(function (response) {
            $("#actionContainer").html(response);


        })
        .fail(function (XMLHttpRequest, textstatus, errorThrown) {
            alert("Failed");
        });
    });

    $(".editBtn").click(function () {
        //var searchT = $("#searchTxt").val();
        $.ajax({
            url: '/product/Edit',
            data: {
                ID: $(this).attr('dataID')
            }


        })
        .done(function (response) {
            $("#actionContainer").html(response);


        })
        .fail(function (XMLHttpRequest, textstatus, errorThrown) {
            alert("Failed");
        });
    });
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("are u sure u want to delete?");
        if (confirmDelete) {
            //var searchT = $("#searchTxt").val();
            $.ajax({
                type: 'POST',
                url: '/product/Delete',
                data: {
                    ID: $(this).attr('dataID')
                }


            })
            .done(function (response) {
                $("#tableContainer").html(response);


            })
            .fail(function (XMLHttpRequest, textstatus, errorThrown) {
                alert("Failed");
            });
        }
        });
        
        
</script>